.body {
    background-color: #F8FAFC;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw);
    height: 80px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 20px;
    background-color: #BCCCDC;
}

.nav-title {
    position: absolute;
    top: -20px;
    left: 0;
    width: 300px;
    height: 50px;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: "Itim";
    font-weight: bold;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
    color: black;
    background-color: aliceblue;
}

.nav-navs-div {
    position: relative;
    top: -10px;
    left: 0;
    width: calc(100% - 900px);
    height: 80px;
    margin-left: 300px;
    background-color: aquamarine;
}

.nav-navs {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-size: 25px;
    font-family: "Itim";
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    
}