{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
        {% block links %}{% endblock %}
    </head>
    <body class="body">
        <nav class="navbar">
            <h1 class="nav-title">STEMventures</h1>

            <div class="nav-navs-div">
                <h1 class="nav-navs">Home</h1>
                <h1 class="nav-navs">Games</h1>
                <h1 class="nav-navs">Learning hub</h1>
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        <script src="{% static 'js/layout.js' %}"></script>
    </body>
</html>